<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>


<div class="container-fluid">
    <div class="row">
<!--        <div class="col-sm-12 col-sm-offset-3 col-md-12 col-md-offset-2 main">-->
        <div class="col-sm-12  col-md-12  main">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;" th:action="@{/templates/userList.html}">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input class="form-control has-success" type="text" name="likeName"
                                       placeholder="请输入查询条件" th:value="${param.likeName}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>
                    <button id="delBatch" type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;"
                            onclick="window.location.href='add.html'"><i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="30"><input id="checkAll" type="checkbox"></th>
                                <th>账号</th>
                                <th>名称</th>
                                <th>邮箱地址</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--我要将所有查询的数据，都显示在这里，每一个Manager信息，对应一个tr-->
                            <tr >
                                <td >1</td>
                                <td><input class="itemBox"  type="checkbox"></td>
                                <td >Lorem</td>
                                <td >ipsum</td>
                                <td >dolor</td>
                                <td>
                                    <a href="" class="btn btn-success btn-xs"><i
                                            class=" glyphicon glyphicon-check"></i></a>
                                    <a href="" class="btn btn-primary btn-xs"><i
                                            class=" glyphicon glyphicon-pencil"></i></a>
                                    <button data_id="" type="button"
                                            class="btn btn-danger btn-xs delBtn"><i
                                            class=" glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" align="center">
<!--                                    <ul class="pagination">-->
<!--                                        <li><a th:href="@{/templates/userList.html(pageNum=1,likeName=${param.likeName})}">首页</a></li>-->
<!--                                        &lt;!&ndash;显示当前页面前3个页码，当前页码后3个页码-->
<!--                                                 2 3 4   5  6 7 8-->
<!--                                        &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            <a th:href="@{/templates/userList.html(pageNum=${result.data.current-3},likeName=${param.likeName})}"-->
<!--                                               th:text="${result.data.current-3}"-->
<!--                                               th:if="${result.data.current-3} > 0"></a></li>-->
<!--                                        <li>-->
<!--                                            <a th:href="@{/templates/userList.html(pageNum=${result.data.current-2},likeName=${param.likeName})}"-->
<!--                                               th:text="${result.data.current-2}"-->
<!--                                               th:if="${result.data.current-2} > 0"></a></li>-->
<!--                                        <li>-->
<!--                                            <a th:href="@{/templates/userList.html(pageNum=${result.data.current-1},likeName=${param.likeName})}"-->
<!--                                               th:text="${result.data.current-1}"-->
<!--                                               th:if="${result.data.current-1} > 0"></a></li>-->
<!--                                        <li class="active"><a href="#" disabled="disabled"-->
<!--                                                              th:text="${result.data.current}"></a></li>-->
<!--                                        <li>-->
<!--                                            <a th:href="@{/templates/userList.html(pageNum=${result.data.current+1},likeName=${param.likeName})}"-->
<!--                                               th:text="${result.data.current+1}"-->
<!--                                               th:if="${result.data.current+1 <= result.data.getPages()}"></a></li>-->
<!--                                        <li>-->
<!--                                            <a th:href="@{/templates/userList.html(pageNum=${result.data.current+2},likeName=${param.likeName})}"-->
<!--                                               th:text="${result.data.current+2}"-->
<!--                                               th:if="${result.data.current+2 <= result.data.getPages()}"></a></li>-->
<!--                                        <li>-->
<!--                                            <a th:href="@{/templates/userList.html(pageNum=${result.data.current+3},likeName=${param.likeName})}"-->
<!--                                               th:text="${result.data.current+3}"-->
<!--                                               th:if="${result.data.current+3 <= result.data.getPages()}"></a></li>-->

<!--                                        <li>-->
<!--                                            <a th:href="@{/templates/userList.html(pageNum=${result.data.getPages()},likeName=${param.likeName})}">尾页</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/docs.min.js}"></script>
<script type="text/javascript">
    // $(function () {
    //     //为delBatch 批量删除按钮，绑定点击事件
    //     $("#delBatch").click(function () {
    //         //1、获取到选中的复选框们吧
    //         //遍历前面选择的元素
    //         var ids = "";
    //         $(".itemBox:checked").each(function (index, element) {
    //             //拼接字符串，将这些要删除的id拼接起来，使用，分割
    //             ids += $(element).val() + ",";
    //         });
    //         //截取掉最后一个，
    //         //2、拼接参数
    //         ids = ids.substring(0, ids.length - 1);
    //         layer.msg('你确定要删除吗？', {
    //             time: 0 //不自动关闭
    //             , btn: ['确定', '取消']
    //             , yes: function (index) {
    //                 //进行异步删除
    //                 layer.close(index);
    //                 //3、发起异步请求，进行批量删除    => 后端应该提供一个批量删除的方法
    //                 $.ajax({
    //                     url: "[[@{/delAll.do}]]",
    //                     method: "post",
    //                     data: {"ids": ids},
    //                     dataType: "json",
    //                     success: function (result) {
    //                         //4、回显，刷新页面
    //                         if (result.code == "SUCCESS") {
    //                             //回显结果
    //                             layer.msg('删除成功', {
    //                                 icon: 6
    //                             }, function () {
    //                                 location.href = "[[@{/user.html}]]";
    //                             });
    //                         } else {
    //                             layer.msg('删除失败', {
    //                                 icon: 6
    //                             });
    //                         }
    //                     }
    //                 });
    //             }
    //         });
    //     });
    //
    //     //绑定全选，全不选操作
    //     //checkAll上面的那个复选框
    //     $("#checkAll").click(function () {
    //         $(".itemBox").prop("checked", this.checked);
    //     });
    //
    //     //为删除按钮们绑定点击事件
    //     $(".delBtn").click(function () {
    //         var data_id = $(this).attr("data_id");
    //         //提示是否删除
    //         layer.msg('你确定要删除吗？', {
    //             time: 0 //不自动关闭
    //             , btn: ['确定', '取消']
    //             , yes: function (index) {
    //                 //进行异步删除
    //                 layer.close(index);
    //                 //发起ajax请求，异步提交删除
    //                 $.ajax({
    //                     type: "POST",
    //                     url: "[[@{/del.do}]]",
    //                     data: {"id": data_id},//提交的数据
    //                     dataType: "json",
    //                     success: function (result) {
    //
    //                         //根据后端返回的数据，判断成功还是失败
    //                         if (result.code != null && result.code == "SUCCESS") {
    //                             //修改成功，跳转到user.html
    //                             layer.alert('删除成功', {icon: 6}, function () {
    //                                 location.href = "[[@{/user.html}]]";
    //                             });
    //
    //                         } else {
    //                             layer.alert('删除失败', {icon: 6});
    //                         }
    //                     }
    //                 });
    //             }
    //         });
    //     });
    //
    //     $(".list-group-item").click(function () {
    //         if ($(this).find("ul")) {
    //             $(this).toggleClass("tree-closed");
    //             if ($(this).hasClass("tree-closed")) {
    //                 $("ul", this).hide("fast");
    //             } else {
    //                 $("ul", this).show("fast");
    //             }
    //         }
    //     });
    // });



    // $("tbody .btn-success").click(function(){
    //     window.location.href = "assignRole.html";
    // });
    // $("tbody .btn-primary").click(function(){
    //     window.location.href = "edit.html";
    // });
</script>
</body>
</html>
